<div class="w-full mx-auto md:w-2/3">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Pastes" %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Pastes</h1>
    <%= link_to "New paste", new_paste_path, class: "rounded-lg py-3 px-5 bg-gray-800 text-white block font-medium" %>
  </div>
  <div id="pastes" class="mt-4 space-y-4">
    <% if @pastes.any? %>
      <% @pastes.each do |paste| %>
        <div class="flex items-center justify-between p-4 bg-white rounded-md shadow">
          <!-- Title -->
          <div>
            <%= link_to paste.title, paste_path(paste), class: "text-lg font-medium text-gray-900 hover:underline" %>
          </div>
          <!-- Delete Button -->
          <div>
            <%= button_to paste_path(paste), method: :delete, data: { confirm: "Are you sure you want to delete this paste?" }, class: "text-gray-500 hover:text-gray-600 focus:outline-none" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="py-12 text-center">
        <h2 class="text-2xl font-semibold text-gray-700">No pastes available</h2>
        <p class="mt-2 text-gray-500">Create your first paste to get started!</p>
        <div class="mt-6">
          <%= link_to "Create Paste", new_paste_path, class: "px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
